<h1><%=@user.name%>'s Show Collection</h1>
<ul>
  <%@user.shows.uniq.each do |show|%>
    <li><%=link_to show.title, show_path(show.slug)%>,
       Network: <%=link_to show.network.name, network_path(show.network.slug) if show.network%> 
      <%= link_to "Remove From My Shows", user_show_remove_from_user_shows_path(@user, show.slug), method: :delete if @user == current_user %></li>
    <%end%>
</ul>
