<h1>Shows by Title</h1>
<table>
  <% @shows.order(title: :asc).each do |show| %>
    <tr><td><%=link_to show.title.titleize, show_path(show)%>, <%=link_to show.network.name.upcase, network_path(show.network)%> </td></tr>
    <%end%>
</table>
