
  <h2>Add A New Show</h2>
  <%=render "form"%>
  
 <div id="postResult">
    <h2 id="showTitle"></h2>
    <p id="showBody"></p>
    <p id="showNetwork"></p>
  </div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/shows', values);
      posting.done(function(data) {
        // var show = data["show"];
        console.log(data);
        $("#showTitle").text(data["title"]);
        $("#showBody").text(data["description"]);
        $("#showNetwork").text(data["network"]["name"]);
      });

    });
  });
</script>